@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');  

#error{
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0px;
  color: red;
  display: none;
}

forma {

    padding: 20px;
    width: 700px;
      
  }
  label {
    margin-bottom: 10px;
    font-size: 20px;
      vertical-align: middle;
      padding-left: 10px;
  }
input[type="tel"], input[type="name"] {
    width: 670px;
    padding: 14px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 15px;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #0096FF;
    color: white;
    padding: 14px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

.form-div {
    width: 700px;
    margin: auto;
}

.select-row{
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fafafa;
    border: 2px solid #101010;
    box-shadow: none;
    border-radius: 3px;
    display: inline-block;
    position: relative;
      vertical-align: middle;
  }

.headtitle{
  color: black;
}

  /* Style the checkmark when it is checked */
  input[type="checkbox"]:checked {
    
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #0096FF;
    border: 2px solid #101010;
    box-shadow: none;
    border-radius: 3px;
    display: inline-block;
    position: relative;
      vertical-align: middle;
  }
.main-title {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}



.head-table {
    color: white;
    font-family: Oswald;
    width: 100%;
}
.head-table tr td h1 {
    line-height: 10px;
    margin: none;
    padding-left: 10px;
}

.head-table tr td a {
    float: right;
    padding-right: 20px;
}

forma details summary {
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
forma details p {
    font-family: sans-serif;
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
}

from details::before {
  content: url('arrow-down.png');
  margin-right: 0.3em;
}

from details[open]::before {
  content: url('arrow-up.png');
}































@media (hover: none) {
    
    
   

    body {
        width: 100%;
    }

.main-title{
  font-size: 23px;
  margin-bottom: 20px;
}

forma {

  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  align-items: center;
}

.head-table {
  color: white;
  font-family: Oswald;
  width: 100%;
}
.head-table tr td h1 {
  line-height: 10px;
  font-size: 60px;;
  margin: none;
  padding-left: 10px;
  text-align: center;
  font-family: sans-serif;
}



.head-table tr td a {
  display: none;
}

label {
  margin-bottom: 10px;
  font-size: 45px;
  vertical-align: middle;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
input[type="tel"], input[type="name"] {
  width: 100%;
  height: 100px;
  padding: 14px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
  border-radius: 0px;
  font-size: 15px;
  font-size: 45px;
  padding-left: 30px;
}

input[type="submit"] {
  width: 100%;
  height: 100px;
  background-color: #0096FF;
  color: white;
  padding: 14px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 45px;
}

.form-div {
  width: 100%;
  margin: auto;
}

.select-row{
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
}

input[type="checkbox"] {
  width: 60px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fafafa;
  border: 4px solid #101010;
  box-shadow: none;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 30px;
}

input[type="checkbox"]:checked {
    
  width: 60px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #0096FF;
  border: 4px solid #101010;
  box-shadow: none;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.details{
  font-size: 0.9rem;
}
.summary{
  font-size: 0.9rem;
}

    #error {
        padding-left: 30px;
    }






}
